<?xml version="1.0" encoding="utf-8"?>
<module name="Geta.Optimizely.HotspotsEditor" clientResourceRelativePath="" loadFromBin="false">
  <assemblies>
    <add assembly="Geta.Optimizely.HotspotsEditor" />
  </assemblies>
  
  <dojo>
    <paths>
      <add name="hotspots" path="ClientResources/Scripts" />
    </paths>
  </dojo>

  <clientResources>
    <add name="vendors-jquery" path="ClientResources/Scripts/Lib/jquery-2.1.0.min.js" resourceType="Script" sortIndex="1" />
    <add name="vendors-jquery" path="ClientResources/Scripts/Lib/jquery-ui-1.10.4.custom.min.js" resourceType="Script" sortIndex="2" />
    <add name="vendors-jquery" path="ClientResources/Scripts/Lib/jquery-plugins.js" resourceType="Script" sortIndex="3" />
    <add name="vendors-jquery" path="ClientResources/Styles/Jqueryui/jquery-ui-1.10.4.custom.min.css" resourceType="Style" sortIndex="4" />
    <add name="hotspots" path="ClientResources/Scripts/Oxx/ObjectUtils.js" resourceType="Script" sortIndex="1" />
    <add name="hotspots" path="ClientResources/Scripts/Oxx/HotSpotsEditor.js" resourceType="Script" sortIndex="2" />
    <add name="hotspots" path="ClientResources/Scripts/Oxx/HotSpotsEditor/HotSpot.js" resourceType="Script" sortIndex="3" />
    <add name="hotspots" path="ClientResources/Styles/hotspotseditor/hotspotseditor.css" resourceType="Style" sortIndex="4" />
  </clientResources>

  <clientModule initializer="hotspots/ModuleInitializer">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
    <requiredResources>
      <add name="vendors-jquery" />
      <add name="hotspots" />
    </requiredResources>
  </clientModule>
</module>